.trailer{
    background-color: #111;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width: 1000px){
    .trailer{
        overflow: hidden;
        position: relative;
        margin-top: 20px;
        margin-left: 10px;
    }
}